
#header{display:none}

#HeaderManuMobileDiv{
	display:none;
}

#Header{
    width:100%;
    background:#000000;
}

#HeaderDiv{
    width:1620px;
    margin:auto;
    background:#000000;
    overflow:hidden;
    box-sizing:border-box;
    height:82px;
}

#HeaderLogoDiv {
    float: left;
    background:url("../images/CanadaNewsLogo.png") no-repeat center center;
    width:317px;
    height:82px;
}

#HeaderManuDiv{
    float:left;
    padding-top:50px;
}

.HeaderManuDiv {
    font-family: 'Montserrat';
    font-size: 16px;
    color: rgb(252,249, 249);
    font-style: normal;
    letter-spacing: -0.02 em;
    opacity: 1;
    float: left;
    border-right: 1px solid rgb(252,249, 249);
    padding-left:24px;
    padding-right:24px;
}

.HeaderManuDiv:nth-child(5) {
    border-right:none;
}

#TopRedBar {
    width:100%;
    height:42px;
    background:#ff0000;
}

.HeaderManuDiv a {
    color: rgb(252,249, 249);
    text-decoration:none;
}

.HeaderManuDiv a:hover{
    color:#eae2e2;
}


@media only screen and (max-width: 1619px) {

    #HeaderDiv{
        width:100%;
    }
}

@media only screen and (max-width: 1023px) {
	
    #HeaderLogoDiv {
        width: 246px;
        height: 80px;
        background-size: 246px 80px;
    }

    .HeaderManuDiv {
        font-size: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }

    #TopRedBar {
        height: 20px;
    }
}

@media only screen and (max-width: 767px) {

    #HeaderManuDiv {
        display: none;
    }

    /*#Main, #Header, #TopRedBar {
        display: none;
    }*/

    #HeaderManuMobileDiv {
        display: block;
    }


    /*Top Manu Mobile*/

    body {
        margin: 0;
        padding: 0;
        /* make it look decent enough */
        overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
    }

    #menu a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
        font-family: 'Montserrat';
    }

        #menu a:hover {
            color: tomato;
        }

    #menuToggle {
        display: block;
        position: absolute;
        top: 22px;
        right: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

        #menuToggle input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }

        /*
 * Just a quick hamburger
 */
        #menuToggle span {
            display: block; 
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        }

            #menuToggle span:first-child {
                transform-origin: 0% 0%;
            }

            #menuToggle span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

        /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
        #menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
        }

            /*
 * But let's hide the middle one.
 */
            #menuToggle input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            /*
 * Ohyeah and the last one should go the other direction
 */
            #menuToggle input:checked ~ span:nth-last-child(2) {
                opacity: 1;
                transform: rotate(-45deg) translate(0, -1px);
            }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

        #menu li {
            padding: 10px 0;
            font-size: 22px;
        }

    /*
 * And let's fade it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }

    #HeaderLogoDiv {
		background:url('../images/logo_mobile_70x200.gif');
        width: 200px;
        height: 70px;
        background-size: auto;
    }

    #HeaderDiv {
        height: 66px;
    }
}

























