#MainArticles{
		width:1620px;
		margin:auto;
		padding:20px 20px;
}
	
.MainArticleLabelDiv{
	font-family: arial;
    font-size: 16px;
    border-left: 6px solid #47a1d8;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 2px;
	float:left;
	width:93px;
}

.MainLeftMiddleArticileTextDiv{
	margin-left:-100px;
}



@media only screen and (max-width: 1619px) {
	#MainArticles{
		width:1240px;
	}
}

@media only screen and (max-width: 1239px) {
	#MainArticles{
		width:1024px;
	}
	
	#MainLeftMiddleTitleDiv{
		width:180px;
	}
}


@media only screen and (max-width: 1023px) { 
	#MainArticles{
		width:100%;
	}
	
	#MainLeftMiddleTitleDiv{
		width:180px;
	}
}


@media only screen and (max-width: 767px) {
	
	.MainLeftMiddleArticileTitleDiv{
		float: left;
		font-family: 'Montserrat-bold';
		font-size: 13px;
		color: rgb(0,0,0);
		width: calc(100% - 160px);
		padding-left: 10px;
		white-space: initial;
		overflow: hidden;
		text-overflow: ellipsis;
		/* max-width: 300px; */
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		padding-top:10px;
		text-transform:uppercase;
	}
	
	.MainLeftMiddleArticileImageDiv{
		background-repeat: no-repeat;
		background-position: center center;
		width: 150px;
		height: 120px;
		background-size: 150px 120px;
		float: left;
		margin-right:0;
	}
	
	.MainLeftMiddleArticileTextDiv{
		float: left;
		font-family: 'Montserrat';
		font-size: 13px;
		padding-left: 10px;
		/*padding-top: 17px;*/
		width: calc(100% - 160px);
		white-space: initial;
		overflow: hidden;
		text-overflow: ellipsis;
		/* max-width: 300px; */
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
	.MainArticleLabelDiv{
		font-size:13px;
		border-width:4px;
	}
	
	.MainLeftMiddleArticileTextDiv{
		margin-left:0;
		display:none;
}

#MainArticles{
	padding-left:0;
	padding-right:5px;
}
		
}