@import "helpers/vars";
@import "helpers/mixins";

@import "base/fonts";
@import "base/reset";
@import "base/base";

@import "partials/header";
@import "partials/place";
@import "partials/advantages";
@import "partials/about";
@import "partials/footer";

p.error-message {
  font-size: 14px;
  color: red;
  padding-left: 5px;
}